body {
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-anchor: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: white;
  z-index: 2;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.overlay-face {
  width: 350px;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: 3;
}

@media screen and (max-width: 360px) {
  .overlay-face {
    width: 90%;
  }
}

.overlay-face.face1 {
  opacity: 1;
  animation-name: face1, translate;
  animation-duration: 2.5s, 1.5s;
  animation-delay: 0.5s, 3s;
  animation-fill-mode: forwards;
}

.overlay-face.face2 {
  opacity: 0;
  animation-name: face2;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.overlay-face.face3 {
  opacity: 0;
  animation-name: face3;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.overlay-face.face4 {
  opacity: 0;
  animation-name: face4;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.home {
  position: absolute;
  top: 30px;
  left: 70px;
  height: 95px;
  width: 60px;
}

.home .home-face {
  position: absolute;
  width: 60px;
}

.home .face1 {
  opacity: 0;
  animation-name: face1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 4.5s;
}

.home .face2 {
  opacity: 0;
  animation-name: face2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 4.5s;
}

.home .face3 {
  opacity: 0;
  animation-name: face3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 4.5s;
}

.home .face4 {
  opacity: 0;
  animation-name: face4;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 4.5s;
}

@media screen and (max-width: 700px) {
  .home {
    left: 30px;
  }
}

.name {
  position: absolute;
  top: 55px;
  left: 150px;
  font-size: 2em;
  color: black;
}

@media screen and (max-width: 700px) {
  .name {
    visibility: hidden;
  }
}

.hamburger {
  position: absolute;
  top: 45px;
  right: 65px;
}

@media screen and (max-width: 700px) {
  .hamburger {
    right: 10px;
  }
}

.header {
  height: 140px;
  width: 100%;
}

.menu {
  position: absolute;
  top: 0;
  height: 48px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 50px 0;
  overflow: hidden;
  visibility: hidden;
}

.menu a {
  color: black;
  font-size: 1.4em;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .menu {
    justify-content: center;
  }
  .menu a {
    margin: 0 5px;
  }
}

.menu.show {
  animation-name: enter;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.menu.hide {
  animation-name: exit;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes face1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes face2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes face3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes face4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translate {
  100% {
    top: 30px;
    left: 70px;
    transform: translate(0, 0);
    width: 60px;
    visibility: hidden;
  }
}

@media screen and (max-width: 700px) {
  @keyframes translate {
    100% {
      top: 30px;
      left: 30px;
      transform: translate(0, 0);
      width: 60px;
      visibility: hidden;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes enter {
  from {
    visibility: visible;
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit {
  from {
    visibility: visible;
    opacity: 0.85;
    transform: translateY(0);
  }
  to {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-80px);
  }
}