.title {
    position: relative;
    text-align: center;
}

.title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.carousel {
  position: relative;
  max-width: 100vw;
  margin-bottom: 50px;
}

.carousel-container {
  position: relative;
  margin: 0 100px 20px 100px;
}

@media screen and (max-width: 500px) {
  .carousel-container {
    margin: 0 30px 20px 30px;
  }
}

.button-back {
  position: absolute;
  top: 50%;
  left: -75px;
  transform: translateY(-50%);
}

@media screen and (max-width: 500px) {
  .button-back {
    left: -30px;
  }
}

.button-next {
  position: absolute;
  top: 50%;
  right: -75px;
  transform: translateY(-50%);
}

@media screen and (max-width: 500px) {
  .button-next {
    right: -30px;
    padding: 0;
  }
}

.button-back:focus, .button-next:focus {
  outline: none;
}

.button {
  border: none;
  background: none;
}

.material-icons {
  font-size: 3em;
}

.carousel-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.carousel-title.single {
  margin: 0 10px;
}

.carousel-title h1 {
  margin: 10px 0;
  font-size: 6em;
  font-weight: normal;
}

.carousel-title.single h1 {
  font-size: 10vw;
}

.carousel-title p {
  font-size: 1.2em;
  text-align: justify;
}

.slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.slide img {
  width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

.dot-group {
  text-align: center;
}

.dot-group button {
  border: none;
  background: none;
  font-size: 2em;
  outline: none;
}