.showcase {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 100px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 33%;
}

@media screen and (max-width: 1413px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 913px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .showcase {
        margin: 10px 20px;
    }
}